/* Minimalny reset  */
html {
  font-size: 16px; /* bazowy rozmiar czcionki */
  font-family: system-ui, sans-serif; /* font systemowy */
  line-height: 1.5; /* lepsza czytelność */
}


.index {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Arial, sans-serif;
  background-color: #f5f7fa;
  color: #333;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: url(bgr.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  color: #004aad;
  font-size: 2.8rem;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 30px;
  text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.8);
}


nav {
  width: fit-content;

  padding: 15px 40px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 15px;
  margin: 150px auto;
  width: 40%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

nav:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 15px 0;
  display: flex;
  justify-content: center;
  gap: 60px;
}

nav a {
  color: black;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 500;
  transition: color 0.3s ease;
}

nav a:hover {
  color: rgb(245, 169, 94);
}

#main {
  text-align: center;
  padding-top: 80px;
  flex-grow: 1;
}

body {
  margin: 1rem;
  padding: 0;
}



a {
  color: #0066cc; /* niebieski kolor linków */
  text-decoration: none; /* bez podkreślenia */
  font-size: 1.4rem;
}
a:hover {
  text-decoration: underline; /* podkreślenie przy najechaniu */
}
